@page
@model INFOP2.Pages.Finance
@{
    ViewData["Title"] = "Finance";
}

<div class="container mt-5">
    <div class="row mb-4">
        <div class="col-12 d-flex justify-content-between align-items-center">
            <h3 class="display-5">@ViewData["Title"]</h3>
            <h4 class="h6">Hello, <strong>@User.Identity.Name</strong></h4>
        </div>
    </div>
</div>