INFOP2/bin/Debug/net9.0/INFOP2.dll
INFOP2/bin/Debug/net9.0/INFOP2.exe
INFOP2/bin/Debug/net9.0/INFOP2.pdb
INFOP2/obj/Debug/net9.0/apphost.exe
INFOP2/obj/Debug/net9.0/INFOP2.AssemblyInfo.cs
INFOP2/obj/Debug/net9.0/INFOP2.AssemblyInfoInputs.cache
INFOP2/obj/Debug/net9.0/INFOP2.dll
INFOP2/obj/Debug/net9.0/INFOP2.pdb
INFOP2/obj/Debug/net9.0/INFOP2.sourcelink.json
INFOP2/obj/Debug/net9.0/ref/INFOP2.dll
INFOP2/obj/Debug/net9.0/refint/INFOP2.dll
