<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - INFOP2</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="icon" type="image/png" href="maintenance.ico.png"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/sidebar.css" asp-append-version="true" />
    <link rel="stylesheet" href="css/border-styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="css/schedule.css" asp-append-version="true"/>
</head>
<body>
<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <div>
            <div class="sidebar-heading">
                <button class="btn-toggle" id="menu-toggle"><i class="fa-solid fa-ellipsis-vertical"></i></button>
            </div>
            <div class="list-group list-group-flush">
                <a asp-page="/Index" class="list-group-item" data-bs-toggle="tooltip" title="Dashboard">
                    <i class="fa-solid fa-house me-2" ></i> <span class="sidebar-text sb-txt-overflow">Dashboard</span>
                </a>
                <a asp-page="/Masterlist" class="list-group-item" data-bs-toggle="tooltip" title="Master list">
                    <i class="fa-solid fa-address-book me-2"></i> <span class="sidebar-text sb-txt-overflow">Master List</span>
                </a>
                <a asp-page="/Assetlist" class="list-group-item" data-bs-toggle="tooltip" title="Asset list">
                    <i class="fa-solid fa-clipboard-list me-2"></i> <span class="sidebar-text sb-txt-overflow">Asset List</span>
                </a>
                <a asp-page="/Finance" class="list-group-item" data-bs-toggle="tooltip" title="Finance">
                    <i class="fa-solid fa-coins me-2" ></i> <span class="sidebar-text sb-txt-overflow">Finance</span>
                </a>
                <a asp-page="/Schedule" class="list-group-item" data-bs-toggle="tooltip" title="Schedules"> 
                    <i class="fa-solid fa-calendar-days me-2"></i> <span class="sidebar-text sb-txt-overflow">Schedules</span>
                </a>
                <a asp-page="/PrayerMinistry" class="list-group-item" data-bs-toggle="tooltip" title="Prayer Ministry">
                    <i class="fa-solid fa-place-of-worship me-2"></i> <span class="sidebar-text sb-txt-overflow">Prayer Ministry</span>
                </a>
                <a asp-page="/CategoryManagement" class="list-group-item" data-bs-toggle="tooltip" title="Category Management">
                    <i class="fa-solid fa-list me-2"></i> <span class="sidebar-text sb-txt-overflow">Category Management</span>
                </a>
            </div>
        </div>
        <div class="list-group list-group-flush list-group-bottom">
            <a asp-page="/Login" class="list-group-item" data-bs-toggle="tooltip" title="Logout">
                <i class="fa-solid fa-right-from-bracket me-2"></i> <span class="sidebar-text sidebar-text sb-txt-overflow">Logout</span>
            </a>
        </div>
    </div>
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        <div class="container txt-align-end">
            <p>v1.9.23-alpha</p>
        </div>
    </div>
</div>
    <!-- Scripts -->
    <script src="https://cdn.sheetjs.com/xlsx-latest/package/dist/xlsx.full.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/main.js" asp-append-version="true"></script>
    <script src="js/assetlist.js" asp-append-version="true"></script>
    <script src="js/category-management.js" asp-append-version="true"></script>
    <script src="js/finance.js" asp-append-version="true"></script>
    <script src="js/masterlist.js" asp-append-version="true"></script>
    <script src="js/prayer-ministry.js" asp-append-version="true"></script>
    <script src="js/schedule.js" asp-append-version="true"></script>
    <script src="~/js/sidebar.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
