<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - INFOP2</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/sidebar.css" asp-append-version="true" />
    <link rel="stylesheet" href="css/border-styles.css" asp-append-version="true"/>
   
</head>
<body>
<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <div>
            <div class="sidebar-heading">
                <button class="btn-toggle" id="menu-toggle" data-bs-tooltop="tooltip" title="Menu"><i class="fas fa-bars"></i></button>
            </div>
            <div class="list-group list-group-flush">
                <a asp-page="/Index" class="list-group-item" data-bs-tooltop="tooltip" title="Dashboard">
                    <i class="fas fa-home me-2"></i> <span class="sidebar-text sb-txt-overflow">Dashboard</span>
                </a>
                <a asp-page="/Masterlist" class="list-group-item" data-bs-tooltop="tooltip" title="Master List">
                    <i class="fas fa-address-book me-2"></i> <span class="sidebar-text sb-txt-overflow">Master List</span>
                </a>
                <a asp-page="/Assetlist" class="list-group-item" data-bs-tooltop="tooltip" title="Asset List">
                    <i class="fas fa-clipboard me-2"></i> <span class="sidebar-text sb-txt-overflow">Asset List</span>
                </a>
                <a asp-page="/Finance" class="list-group-item" data-bs-tooltop="tooltip" title="Finance">
                    <i class="fas fa-chart-line me-2"></i> <span class="sidebar-text sb-txt-overflow">Finance</span>
                </a>
                <a asp-page="/Schedule" class="list-group-item" data-bs-tooltop="tooltip" title="Schedule"> 
                    <i class="fas fa-calendar me-2"></i> <span class="sidebar-text sb-txt-overflow">Schedule</span>
                </a>
                <a asp-page="/PrayerMinistry" class="list-group-item" data-bs-tooltop="tooltip" title="Prayer Ministry">
                    <i class="fas fa-place-of-worship me-2"></i> <span class="sidebar-text sb-txt-overflow">Prayer Ministry</span>
                </a>
                <a asp-page="/CategoryManagement" class="list-group-item" data-bs-tooltop="tooltip" title="Category Management">
                    <i class="fas fa-layer-group me-2"></i> <span class="sidebar-text sb-txt-overflow">Category Management</span>
                </a>
            </div>
        </div>
        <div class="list-group list-group-flush list-group-bottom">
            <a asp-page="/Login" class="list-group-item" data-bs-tooltop="tooltip" title="Logout">
                <i class="fas fa-sign-out-alt me-2"></i> <span class="sidebar-text sidebar-text sb-txt-overflow">Logout</span>
            </a>
        </div>
    </div>
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        <div class="container d-flex justify-content-end">
            <p>v1.7.14-alpha</p>
        </div>
    </div>
</div>
<!-- Scripts -->
    <script src="https://cdn.sheetjs.com/xlsx-latest/package/dist/xlsx.full.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/main.js" asp-append-version="true"></script>
    <script src="js/assetlist.js" asp-append-version="true"></script>
    <script src="js/finance.js" asp-append-version="true"></script>
    <script src="js/masterlist.js" asp-append-version="true"></script>
    <script src="~/js/sidebar.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
