body {
    overflow-x: hidden;
}

#wrapper {
    display: flex;
    min-height: 100vh;
}

#sidebar-wrapper {
    width: 250px;
    background-color: #394C74;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky; /* Scroll Follow */
    top: 0;
    height: 100vh;
    overflow-y: auto;
    transition: all 0.3s ease;
    z-index: 1000;
}

#wrapper.toggled #sidebar-wrapper {
    width: 60px;
}

.sidebar-heading {
    padding: 2vw 2px 4vw;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-toggle {
    background: none;
    border: none;
    color: white;
    font-size: 1.2rem;
    margin-left: 10px;
}

.list-group-item {
    background-color: #394C74;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
}

.list-group-item i {
    width: 20px;
    text-align: center;
}

.list-group-item:hover {
    background-color: #6F7FA1;
}

.sidebar-text {
    margin-left: 10px;
}

#wrapper.toggled .sidebar-text {
    display: none;
}

#wrapper.toggled .list-group-item {
    justify-content: center;
}

.list-group-bottom {
    margin-top: auto;
}

#page-content-wrapper {
    flex: 1;
    padding: 20px;
    overflow-x: hidden;
}
